
.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


.titulo {
  font-size: 36px;
  color: white;
  margin-bottom: 40px;
}

.planos {
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.plano {
  background-color: #333;
  color: white;
  border-radius: 10px;
  padding: 20px;
  width: 250px;
  text-align: center;
}

.plano h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.preco {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.plano ul {
  list-style: none;
  padding: 0;
}

.plano ul li {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .planos {
    flex-direction: column;
    align-items: center;
  }

  .plano {
    margin-bottom: 20px;
    width: 100%;
  }
}

  