/* PlansSection.module.css */
.plansSection {
  display: flex;
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap;
    margin: 50px auto;
    max-width: 1000px;
    gap: 20px;
    height: 800px;
}

.mainPlanos{
  padding-top: 140px;
}

.plan {
  background: #272525;
  padding: 20px;
  text-align: center;
  color: white;
  width: 250px;
  margin:  auto;
  border: solid black 3px;
  border-radius: 50px black ;
}

.h1  {
  margin-bottom: 10px;
  font-size: 25px;
  font-family: "Jockey One", sans-serif;
  text-align: center;
  color: #ffff;
}

.plan p {
  font-size: 50px;
  font-family: "Gentium Plus", serif;
}

.plan ul {
  list-style-type: none;
  padding: 0;
}

.plan ul li {
  margin-bottom: 10px;
  font-family: "Gentium Plus", serif;
  font-size: 25px;
}

.plano {
  background: #272525;
  padding: 20px;
  text-align: center;
  color: white;
  width: 250px;
  margin-bottom: 424px;
}

.plano p {
  font-size: 50px;
  font-family: "Gentium Plus", serif;
}

.plano ul {
  list-style-type: none;
  padding: 0;
}

.plano li {
  margin-bottom: 10px;
  font-family: "Gentium Plus", serif;
  font-size: 25px;
}

.liPlanoMen {
  margin-bottom: 55px;
}

.liPlanoAnu {
  margin-bottom: 55px;
}
